* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    border: 2px solid black;
    width: 85%;
    height: 90vh;
    display: flex;
    background: white;
}

#main #left h2 {

    font-size: 25px;
}

#main #left h3 {
    color: white;
    font-size: 25px;
}

#main #left h5 {
    color: white;
    font-size: 18px;
}

#main #left p {
    color: white;
    border: 1px solid white;
    width: 120px;
    height: 30px;
    text-align: center;
    margin-top: 20px;

}

#main #left button {
    margin-top: 25px;
    width: 150px;
    height: 45px;
    border: none;
    box-shadow: 2px 2px 2px 1px;
    font-size: 18px;
}

#main #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9A65A;
    width: 45%;
}

#main #right #text1 {
    color: #F9A65A;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

#main #right p>span {
    color: #F9A65A;
    font-weight: bold;
}

#main #right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    width: 55%;
}


#main #right {
    background: white;

}

#main #right h1 {
    font-size: 45px;
}

#main #right #form {
    display: flex;
    flex-direction: column;
}

#main #right #form input {
    border: 1px solid #F9A65A;

    text-indent: 40px;
    width: 350px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50px;
}

#main #right #form button {
    width: 350px;
    height: 35px;
    margin-top: 25px;
    border-radius: 50px;
    background: #F9A65A;
    color: white;
    font-size: 16px;
    border: none;
}


@media screen and (max-width: 990px) {
    #form .main-input input {
        width: 600px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-indent: 8px;
        outline: none;
    }

    #form .main-input label {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
    }

    #form>h2 {
        color: rgb(255, 255, 255);
        font-size: 70px;
    }

    #form {
        width: 90%;
    }

    #form #submit {
        height: 60px;
        width: 600px;
        font-size: 35px;
    }
}



@media screen and (max-width: 550px) {
    #form .main-input input {
        width: 300px;
        height: 32px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-indent: 8px;
        outline: none;
    }

    #form {
        width: 80%;
    }

    #form #submit {
        height: 40px;
        width: 300px;
    }
}


@media screen and (max-width: 390px) {
    #form .main-input input {
        width: 230px;
        height: 28px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-indent: 8px;
        outline: none;
    }

    #form .main-input label {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
    }

    #form>h2 {
        color: rgb(255, 255, 255);
        font-size: 40px;
    }

    #form {
        width: 75%;
        height: 70vh;
    }

    #form #submit {
        height: 35px;
        width: 230px;
        font-size: 20px;
    }
}